.title {
  background-color: rgba(137, 88, 63, 0.2);
  h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    img {
      margin: 2rem;
      width: 35%;
    }
  }
}

.navigation {
  position: relative;
  top: -4rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  a {
    display: flex;
    flex-direction: column;
    width: calc(50% - 0.1rem);
    height: 340px;
    text-decoration: none;
    .image {
      background-size: auto 120%;
      background-position: 65% 90%;
      height: 320px;
    }
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7rem;
      width: 100%;
      font-size: 14px;
      background-color: #89583f;
      text-transform: uppercase;
      font-weight: 600;
      color: #efefef;
      letter-spacing: 3px;
    }
  }
  .commercial {
    .image {
      background-image: url("./../../../assets/images/heritage_way_streetscape_thumb.jpg");
    }
  }
  .residential {
    .image {
      background-image: url("./../../../assets/images/clubhouse_pool.jpg");
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  img {
    background: linear-gradient(to right, #603421 0%, #c48963 100%);
  }
  .info {
    background-color: #89583f;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    div {
      margin: 0;
      color: #efefef;
      text-align: center;
      p {
        margin: 0;
      }
    }
    .generalInfo {
      span {
        font-weight: 700;
      }
      p {
        font-style: italic;
      }
    }

    .companies {
      font-weight: 700;
    }
  }
  .legal {
    padding: 1rem;
    background-color: #603e2c;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
