.headBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1.5rem 3rem 1.5rem;
  h2 {
    font-weight: 400;
    color: var(--primary);
    font-size: 2.4rem;
  }
  p {
    font-size: 14px;
    color: var(--primary);
  }
}

.patternBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e4d6;
  margin: 0 1.5rem;
  h3 {
    color: var(--primary);
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 350;
    text-align: center;
    margin: 2rem 0 1rem 0;
  }
  p {
    color: rgba($color: #000000, $alpha: 0.6);
    font-size: 14px;
    text-align: center;
    width: 80%;
    color: var(--primary);
    margin-bottom: 3rem;
  }
  .blockImage {
    width: 100%;
    height: 2.55rem;
    background-image: url("./../../../assets/pattern_dust.svg");
    background-position: 0% 0%;
    background-size: auto 640%;
  }
}

.gallery {
  display: flex;
  width: 100vw;
  padding-left: 1.5rem;
  margin: 4rem 0;
  position: relative;
  z-index: 1;
  scroll-behavior: smooth;
  scrollbar-width: 0;
  .galleryItem {
    &:not(:first-child) {
      margin-left: 0.18rem;
    }
    .image {
      height: 20vh;
      width: 20vh;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .imageTitle {
      font-size: 12px;
      color: var(--primary);
      margin: 1rem 0;
    }
    .image1 {
      background-image: url("./../../../assets/images/heritage_square_birds_eye_thumb.jpg");
    }
    .image2 {
      background-image: url("./../../../assets/images/heritage_square_multistory_thumb.jpg");
    }
    .image3 {
      background-image: url("./../../../assets/images/heritage_way_streetscape_thumb.jpg");
    }
    .image4 {
      background-image: url("./../../../assets/images/town_square_thumb.jpg");
    }
    .image5 {
      background-image: url("./../../../assets/images/master_plan_thumb.jpg");
    }
  }
  &::before {
    content: "";
    position: absolute;
    background-color: #e5e4d6;
    height: 28vh;
    width: 100%;
    top: 50%;
    left: -1.5rem;
    z-index: -1;
  }
}

.features {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 2;
  padding-bottom: 3rem;
  .selectors {
    display: flex;
    width: 100%;
    text-align: center;
    color: var(--primary);
    h4 {
      width: 50%;
      text-transform: uppercase;
      margin: 0;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .columns {
    border: none;
  }
}

.columns {
  display: flex;
  max-width: 100%;
  .column {
    transition: ease 0.3s transform;
    ul {
      margin: 2rem 1.5rem;
      padding: 0;
      width: 95vw;
      li {
        width: 100%;
        padding: 0.2rem 0;
        text-align: center;
        color: var(--primary);
        font-size: 13px;
        list-style: none;
      }
    }
  }
}

.disabled {
  color: rgba($color: #000000, $alpha: 0.4);
  h4 {
    color: rgba($color: #000000, $alpha: 0.2);
  }
  .column {
    transform: translateX(-100%);
  }
}

.articleImage {
  width: 100%;
  height: 37vh;
  background-size: auto 100%;
  background-position: 80% 0%;
}

.articleImage1 {
  background-image: url("./../../../assets/images/yorktown_pkwy.jpg");
}

.articleImage2 {
  background-image: url("./../../../assets/images/clubhouse_pool.jpg");
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  .pattern1 {
    height: 3.6rem;
    width: 100%;
    background-image: url("./../../../assets/pattern_dust.svg");
    background-size: auto 650%;
    background-position: 0% 0%;
    background-color: #e5e4d6;
  }

  h5 {
    text-transform: uppercase;
    font-size: 12px;
    margin: 3rem 0 0.5rem 0;
    text-align: center;
    color: var(--primary);
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    h4 {
      margin: 0 0 2rem 0;
      color: var(--primary);
      font-weight: 400;
      font-size: 1.8rem;
    }
    p {
      display: flex;
      flex-direction: column;
      margin: 0 1.5rem;
      color: var(--primary);
      font-size: 14px;
      text-align: left;
    }
    h6 {
      color: var(--primary);
      font-style: italic;
      font-size: 1.3rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }
    span,
    a {
      font-size: 11px;
      color: rgba($color: #000000, $alpha: 0.4);
    }

    span {
      width: 100%;
      text-align: end;
      margin: 0.5rem 0;
    }

    a {
      font-weight: 700;
      text-decoration: none;
      margin-right: 1.5rem;
    }
  }

  .articleIntro {
    background-color: #e5e4d6;
    padding: 1rem 0 5rem 0;
  }
}

.inquiries {
  h4 {
    text-transform: uppercase;
    margin: 2rem 0 0.3rem 0;
    font-size: 11px;
    font-weight: 500;
    color: var(--primary);
  }
  h3 {
    margin-top: 0;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      text-decoration: none;
      font-style: italic;
      padding: 0.5rem 2rem;
      background-color: rgba($color: #000000, $alpha: 0.2);
      color: #efefef;
      font-weight: 500;
      font-size: 0.8rem;
      &:nth-child(2) {
        background-color: var(--primary);
        margin-top: 1rem;
      }
    }
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  padding: 4rem 1.5rem;
  max-width: 100%;
  font-size: 13px;
  .streetCommercial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .mailText {
    border-right: 1px solid var(--primary);
    font-style: italic;
    padding: 0 0.5rem;
    margin: 2px 0;
    font-weight: 500;
  }
  .text {
    text-align: center;
    padding: 0 0.5rem;
  }
}

.communities {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 4px;
  .columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 2px);
    text-align: center;
    color: var(--primary);
    h4 {
      display: flex;
      flex-direction: column;
      background-color: #e5e4d6;
      justify-content: center;
      width: 100%;
      height: 3rem;
      vertical-align: middle;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.8rem;
      margin: 0;
      span {
        font-size: 8px;
      }
    }
    em {
      font-size: 13px;
      height: 26px;
      margin: 2rem 0 1rem 0;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        text-align: center;
        font-size: 13px;
        padding: 0.3rem 0;
      }
    }
    .sellingStatus {
      font-weight: 600;
    }
    a {
      text-decoration: none;
      color: #e5e4d6;
      background-color: var(--primary);
      padding: 0.5rem 1rem;
      width: fit-content;
      font-style: italic;
      font-weight: 500;
      margin-top: 2rem;
    }
  }
}

@media screen and (min-width: 480px) {
  .columns {
    .column {
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
        width: 97vw;
        li {
          width: calc(50%);
          padding: 0.4rem 0;
        }
      }
    }
  }
  article {
    margin: 0 auto;
    max-width: 80vw;
    width: 100%;
    section {
      margin-top: 3rem;
      flex-direction: row;
      h6 {
        width: 50%;
        margin: 0;
      }
      p {
        max-width: 50%;
      }
    }
    .articleIntro {
      padding-bottom: 3rem;
      section {
        margin-top: 0;
        flex-direction: column;
        h4 {
          font-size: 2rem;
        }
        p {
          display: inline;
          max-width: 80%;
          text-align: center;
          em {
            font-weight: 500;
          }
        }
      }
    }
  }

  .patternBlock {
    p {
      margin-bottom: 2rem;
    }
    div {
      flex-direction: row;
      a {
        &:nth-child(2) {
          margin: 0 0 0 2rem;
        }
      }
    }
  }
  .columns {
    margin-top: 2rem;
    border: 1px solid #e5e4d6;
    &:first-child {
      margin-right: 2rem;
      border: nones;
    }
    a {
      margin-bottom: 2rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .headBlock {
    margin: 1rem 3rem 3rem 3rem;
    flex-direction: row;
    max-width: 1100px;
    p,
    h2 {
      width: 50%;
    }
    h2 {
      font-size: 3rem;
    }
  }
  .patternBlock {
    flex-direction: row;
    margin: 0 3rem;
    max-width: 1100px;
    :nth-child(1) {
      order: 2;
    }
    :nth-child(2) {
      order: 3;
    }
    .blockImage {
      height: 12rem;
      width: 3rem;
      background-repeat: repeat;
      background-size: auto 19rem;
    }
    p,
    h3 {
      text-align: center;
      align-self: baseline;
    }
    h3 {
      width: 55%;
      font-size: 2.5rem;
    }
    p {
      width: 30%;
      margin-bottom: 3rem;
    }
  }
  .gallery {
    flex-direction: row;
    padding: 0;
    width: 100%;
    justify-content: center;
    .galleryItem {
      .image {
        width: 17vw;
        height: 17vw;
      }
      .imageTitle {
        width: 17vh;
      }
    }
    &::before {
      left: 0;
    }
  }
  .features {
    margin: 0 3rem;
    width: calc(100% - 6rem);
    max-width: 1100px;
    .selectors {
      h4 {
        width: 50%;
        cursor: default;
      }
    }
  }
  .columns {
    margin-top: 0;
    .column {
      width: 50%;
      ul {
        width: 100%;
        li {
          width: 100%;
        }
      }
    }
  }
  .disabled {
    color: inherit;
    .column {
      transform: translateX(0);
    }
  }
  article {
    flex-wrap: wrap;
    margin: 0 3rem;
    flex-direction: row;
    max-width: 1100px;
    section {
      width: calc(100% - 6rem);
    }
    .articleImage {
      width: 30%;
      height: 25rem;
    }
    .articleIntro {
      display: flex;
      flex-direction: row-reverse;
      width: calc(70% - 6rem);
      height: 25rem;
      padding: 0;
    }
    .introResidential {
      flex-direction: row;
    }
    .pattern1 {
      width: 3rem;
      height: 100%;
      background-repeat: repeat;
      background-size: auto 19rem;
    }
    .introContent {
      width: calc(100% - 3rem);

      max-width: 1100px;
      section {
        margin: auto;
      }
    }
    .residentialImage {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      width: 100%;
    }
  }
  .communities {
    width: calc(100% - 6rem);
    margin-top: 3rem;
    max-width: 1100px;
  }
  .inquiries {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    :nth-child(1) {
      order: 1;
    }
    :nth-child(2) {
      order: 2;
    }
    :nth-child(3) {
      order: 3;
    }
    :nth-child(4) {
      order: 4;
    }
    div {
      display: flex;
      flex-direction: column;
      h3 {
        align-self: center;
        font-size: 2rem;
        width: 75%;
      }
      a {
        &:last-child {
          margin: 1rem 0 0 0;
        }
      }
    }
    p {
      margin: auto;
    }
  }
}
